.txtAlb{
    font-weight: bold;
    text-decoration: underline;
}

.txtRed{
    color: red;
}

.txtBar{
    text-decoration: line-through;
}

.borderRed{
    border-color: red;
}

.borderGreen{
    border-color: darkgreen;
}